
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// JQuery UI
@import '~jquery-ui/themes/base/all.css';

.navbar {
  background-color: #0c64a2;
  padding: 0.35rem 1rem;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.app-content {
  flex: 1;
}

.ui-autocomplete {
  max-height: 500px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

#map {
  margin: 0 auto;
  height: 500px;
}

